@import "tailwindcss";

@theme {
  --color-primary: #041627;
  --color-primary-container: #1a2b3c;
  --color-secondary: #006a6a;
  --color-secondary-container: #90efef;
  --color-surface: #f8f9ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-surface-container-low: #eff4ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-dim: #cbdbf5;
  --color-surface-bright: #f8f9ff;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #44474c;
  --color-outline: #74777d;
  --color-outline-variant: #c4c6cd;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-background: #f8f9ff;
  --color-on-background: #0b1c30;
  
  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 9999px;

  --font-sans: "Inter", sans-serif;
  --font-display-lg: "Inter", sans-serif;
  --font-headline-md: "Inter", sans-serif;
  --font-title-sm: "Inter", sans-serif;
  --font-body-md: "Inter", sans-serif;
  --font-body-sm: "Inter", sans-serif;
  --font-data-mono: "Inter", sans-serif;
  --font-label-caps: "Inter", sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-sans);
}
